@use "variables" as *;

.about-me-section {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .about-content {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        min-height: 450px;

        .card-content {
            padding: 40px;
            width: 100%;
            display: flex;
            gap: 40px;
            align-items: flex-start;
        }

        .about-text-block {
            flex: 2;

            p.lorem-text {
                margin-bottom: 1rem;
            }

            .tech-icons {
                display: flex;
                gap: 10px;
                margin-top: 10px;

                .tech-tag {
                    padding: 5px 10px;
                    border-radius: $card-radius;
                    background: $btn-bg;
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: $color-text-light;
                }
            }
        }

        .about-image-placeholder {
            flex: 1;
            min-height: 300px;
            background-color: $color-secondary-bg;
            border: 1px solid $color-border;
            border-radius: 10px;
            transform: translateZ(20px);
        }
    }
}

/* --- Responsive --- */
@media (max-width: 768px) {

    .about-content,
    .about-content .card-content {
        flex-direction: column;
        gap: 20px;
        min-height: auto;
        padding: 20px !important;
    }

    .about-image-placeholder {
        height: 250px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .about-content .card-content {
        padding: 35px;
        gap: 30px;
    }
}