@use "variables" as *;

.about-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    min-height: 450px;

    .card-content {
        // sigue igual
        padding: 40px;
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

    .about-text-block {
        flex: 2;

        p.lorem-text {
            margin-bottom: 1rem;
        }

        .tech-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            .tech-tag {
                padding: 5px 10px;
                border-radius: $card-radius;
                background: $btn-bg;
                font-size: 0.9rem;
                font-weight: 500;
                color: $color-text-light;
            }
        }
    }

    .about-image-placeholder {
        flex: 1;
        min-height: 300px;
        background-color: $color-secondary-bg;
        border: 1px solid $color-border;
        border-radius: 10px;
        transform: translateZ(20px);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;

        .card-content {
            flex-direction: column;
            gap: 20px;
            min-height: auto;
            padding: 20px !important;
        }

        .about-image-placeholder {
            height: 250px;
        }
    }
}