@use "variables" as *;

.about-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    min-height: 450px;

    .card-content {
        padding: 40px;
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

    .about-text-block {
        flex: 2;

        p.about-text {
            margin-bottom: 1rem;
        }
        p.about-text-tech {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;

        .card-content {
            flex-direction: column;
            gap: 20px;
            min-height: auto;
            padding: 20px !important;
        }

        .about-image-placeholder {
            height: 250px;
        }
    }
}

