@use "variables" as *;

.about-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    min-height: 450px;

    .card-content {
        padding: 40px;
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

    .about-text-block {
        flex: 2;

        p.abour-text {
            margin-bottom: 1rem;
        }
    }

    .about-image-placeholder {
        flex: 1;
        min-height: 300px;
        background-color: $color-secondary-bg;
        border: 1px solid $color-border;
        border-radius: 10px;
        transform: translateZ(20px);
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;

        .card-content {
            flex-direction: column;
            gap: 20px;
            min-height: auto;
            padding: 20px !important;
        }

        .about-image-placeholder {
            height: 250px;
        }
    }
}

.tech-icons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tech-box {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: $btn-bg;
    border: 1px solid $color-border;
    box-shadow: $card-shadow;
    backdrop-filter: blur(6px);
}

.tech-box:hover {
    transform: scale(1.02);
    background: $btn-bg-hover;
    border: 1px solid $color-primary;
    box-shadow: 0 0 20px rgba($color-primary, 0.35);
}

.tech-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: filter 0.35s ease;
}

.tech-box:hover .tech-icon {
    filter: none;
}