@use "variables" as *;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", Arial, sans-serif;
    //background-color: $color-dark-bg;
    color: $color-text-light;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background:
            radial-gradient(hsla(210, 93%, 23%, 0.2) 1px, transparent 0px),
            linear-gradient(160deg, $color-dark-bg, $color-dark-bg);
    background-repeat: repeat, no-repeat;
    background-size: 30px 30px, cover;
}

a {
    color: $color-text-light;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: $color-primary;
}

/* --- Global Structure & Headings --- */
.section {
    padding: 80px 10%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    color: $color-text-light;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: $color-text-light;
}

h3 {
    text-align: center;
    color: $color-text-light;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}