@use "variables" as *;

.btn-primary {
    padding: 0.7rem 1.4rem;
    background: $btn-bg;
    border: 1px solid $color-border;
    border-radius: 100px;
    color: $btn-text;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(5px);
    z-index: 5;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.3s ease;
    transform: translateZ(40px) scale(1);
}

.btn-primary:hover {
    transform: translateZ(40px) scale(1.02);
    background: $btn-bg-hover;
    box-shadow: 0 0 20px rgba($color-primary, 0.35);
        border: 1px solid $color-primary;
}

/* --- Ripple --- */
.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.5s linear;
    pointer-events: none;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}