@use "variables" as *;

.btn-primary {
    padding: 0.7rem 1.4rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 100px;
    color: $btn-text;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(5px);
    transition: background-color 0.25s ease, ease, box-shadow 0.25s ease;
        z-index: 5;
        transform: translateZ(40px);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba($color-primary, 0.3);
        background: rgba(255, 255, 255, 0.213);
        transform: translateZ(40px) scale(1.02);
    }
}

.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.5s linear;
    pointer-events: none;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}