@use "variables" as *;

.btn-primary {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 0.7rem 1.4rem;
    background: $btn-bg;
    border: 1px solid $btn-bg-hover;
    border-radius: 100px;
    color: $btn-text;
    font-size: 0.9rem;
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-primary:hover {
    background: $btn-bg-hover;
    transform: translateY(-2px);
}

