@use "variables" as *;

.footer {
    background-color: $color-dark-bg;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border;
    position: relative;
    z-index: 5;

    .footer-logo img {
        height: 55px;
        width: auto;
        filter: brightness(0) invert(1); // blanco
        transform: translateZ(12px);
    }

    /* ---------------- SOCIAL LINKS ---------------- */
    .social-links {
        display: flex;
        gap: 18px;

        .social-box {
            width: 48px;
            height: 48px;
            border-radius: 14px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $btn-bg;
            border: 1px solid $color-border;
            box-shadow: $card-shadow;
            backdrop-filter: blur(6px);
            transition: all 0.35s ease;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: brightness(0) invert(1);
                transition: filter 0.35s ease;
            }

            &:hover {
                transform: scale(1.02);
                background: $btn-bg-hover;
                border: 1px solid $color-primary;
                box-shadow: 0 0 20px rgba($color-primary, 0.35);
            }

            &:hover img {
                filter: none; 
            }
        }

    }
}

/* MOBILE */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 22px;
        text-align: center;
    }
}