@use "variables" as *;

.project-card {
    min-height: 350px;

    .card-content {
        padding: 1.75rem;
        display: flex;
        flex-direction: column;
    }

    .project-image-placeholder {
        height: 150px;
        background-color: $color-secondary-bg;
        border-radius: 5px;
        margin-bottom: 15px;
        transform: translateZ(20px);
    }

    .card-footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateZ(20px);
        margin-top: 1rem;

        .card-icon {
            font-size: 1.25rem;
            opacity: 0.7;
            transition: transform 0.3s ease;

            .project-card:hover & {
                transform: translateX(5px);
                opacity: 1;
            }
        }
    }
}