@use "variables" as *;

.projectpage {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    .projectpage-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .projectpage-description {
        font-size: 1.1rem;
        max-width: 700px;
        margin: 0 auto 40px auto;
        line-height: 1.6;
        opacity: 0.9;
    }

    .projectpage-subtitle {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    .projectpage-cards {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .projectpage-card {
        text-align: center;
        padding: 40px;

        &.has-video {
            cursor: default;
        }

        h3 {
            font-size: 1.4rem;
            margin-bottom: 10px;
        }

        p {
            opacity: 0.9;
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .projectpage-card-image {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-top: 56.25%;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 10px $card-shadow;
        }

        .media-element {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease-in-out;
            z-index: 2;
        }

        .video-overlay {
            z-index: 1; 
        }

        .visible {
            opacity: 1;
            z-index: 5;
        }

        .hidden {
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }

        img {
            z-index: 3; 
        }



    }

    .projectpage-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .projectpage {
        .projectpage-card {
            padding: 20px;
        }
    }
}