@use "variables" as *;

.project-card {
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .card-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    h2,
    h3,
    p {
        transform: translateZ(20px);
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h3 {
        margin-bottom: 0.5rem;
        color: $color-primary;
        font-weight: 700;
        opacity: 0.8;
    }

    p {
        flex-grow: 0;
        margin-bottom: 1rem;
        opacity: 0.9;
    }

    .project-image {
        width: 100%;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 16px;
        transform: translateZ(25px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .35s ease;
        }
    }

    &:hover .project-image img {
        transform: scale(1.05);
    }


    .card-footer {
        margin-top: auto; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateZ(20px);
        margin-bottom: 0; 
        padding-bottom: 1rem;

        .card-icon {
            font-size: 1.25rem;
            opacity: 0.7;
            transition: transform 0.3s ease;

            .project-card:hover & {
                transform: translateX(5px);
                opacity: 1;
            }
        }
    }
}