@use "variables" as *;

.tech-icons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}

.tech-box {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: $btn-bg;
    border: 1px solid $color-border;
    box-shadow: $card-shadow;
    backdrop-filter: blur(6px);
}

.tech-box:hover {
    transform: scale(1.02);
    background: $btn-bg-hover;
    border: 1px solid $color-primary;
    box-shadow: 0 0 20px $color-primary;
}

.tech-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: filter 0.35s ease;
}

.tech-box:hover .tech-icon {
    filter: none;
}