$color-dark-bg: #010b24;
$color-secondary-bg: #043b7133;
$color-text-light: #ffffff;
$color-primary: #00bcd4;
$color-accent-blue: #007bff;
$color-border: #ffffff1a;

$btn-bg: #ffffff1a;
$btn-bg-hover: #ffffff54;
$btn-text: $color-text-light;
$btn-radius: 50px;

$blob-color1: #004cff;
$blob-color2: #00ffff;

$card-radius: 16px;
$card-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.5);
$card-color: #ffffff08;

$nav-color: #0000002d;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
$font-main: "Outfit", sans-serif;