@use "variables" as *;

@use "base";
@use "button";
@use "navbar";
@use "languageToggle";
@use "hero";
@use "blob";
@use "card";
@use "projectcard";
@use "about";
@use "techIcons";
@use "projects";
@use "contact";
@use "footer";
@use "projectpage";