@use "variables" as *;
@use "sass:color";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: color.scale($color-bg, $lightness: -5%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    a {
        color: $color-text;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $color-primary;
        }
    }
}